.header
{
background-color:rgb(228, 116, 116);
width:100%;
height:100px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding:10px;
}

.header-link
{
margin-left: 40px;

}

.welcome-label
{
font-size: 18pt;
font-family:'Times New Roman', Times, serif;
}

.page-content
{
width:100%;
display:flex;
flex-direction:column;
padding: 10px;
}

.description-container
{
flex:1;
padding:10px;
border:dotted 3px black;
}
